.blog-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  max-height: 50vh;
  min-height: 300px;
  padding: 5px;
  text-align: center;

  .blog-contents-container {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      border-radius: 4px;
    }
    .blog-title {
      font-size: 20px;
      margin: 10px 0;
    }

    .blog-description {
      font-size: 18px;
      color: #777;
      margin: 5px 0;
    }
  }
}
