.category-preview-container {
  .title {
    font-size: 28px;
    margin-bottom: 0px;
  }

  .fix-position {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
