.category-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding: 0 10px; // 両端に余白を追加

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    padding: 0 10px; // 両端に余白を追加
  }

  .category-subcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    padding: 0 10px; // 両端に余白を追加

    // レスポンシブ対応
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 20px;
      padding: 0;
      padding: 0 10px; // 両端に余白を追加
    }
  }
}
