.contents-container {
  .image-container {
    padding: 3% 0 3% 0;
    text-align: center;
    position: relative; // アニメーションの基準となる親要素に対して相対的な位置に配置

    img {
      width: 80%;
      height: 400px;
      object-fit: cover;
      border: solid 2px pink;
      transition: transform 0.3s; // 0.3秒でアニメーションする

      &:hover {
        cursor: pointer;
        transform: scale(1.1); // ホバー時に拡大
      }
    }
  }

  .contents-subcontainer {
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;

    .contents-subcontainer-left {
      width: 100%;
      height: 100%;
      padding: 10px;
    }
    .contents-subcontainer-right {
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: white;
    }
  }
}
