.image-gallery-container {
  padding: 10px;
  background-image: url("https://i.ibb.co/XWp2RYX/pawel-czerwinski-qzt-BRIr-U1-FM-unsplash.jpg");
  div {
    div {
      div {
        button.image-gallery-icon.image-gallery-right-nav {
          filter: none;
          svg {
            polyline {
              color: white;
            }
          }
        }
        button.image-gallery-icon.image-gallery-left-nav {
          filter: none;
          svg {
            polyline {
              color: white;
            }
          }
        }
      }
    }
  }
}

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
