.image-gallery-container {
  padding: 10px;
  div {
    div {
      div {
        button.image-gallery-icon.image-gallery-right-nav {
          filter: none;
          svg {
            polyline {
              color: gainsboro;
            }
          }
        }
        button.image-gallery-icon.image-gallery-left-nav {
          filter: none;
          svg {
            polyline {
              color: gainsboro;
            }
          }
        }

      }
    }
  }
}


.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
