.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;

  // レスポンシブ対応
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 0 10px;  // 左右の余白を追加
  }
}
