.exhibitor {
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  background-color: white;
  transition: transform 0.3s; // 0.3秒でアニメーションする

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .exhibitor-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1); // ホバー時に拡大
    border: solid 1px pink;
  }
}
