.container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
    img {
      width: auto;
      height: 300px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
  