.footer {

  .footer-container {
    height: 100%;
    padding: 0 1% 1% 0;
    display: flex;
    justify-content: center;

    .footer-subcontainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
