.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

  .navigation-left{
    display: flex;
    gap:5px; 


    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px;
  
      .Shoplogo {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  
    .catchcopy{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 10px;
    }
  }


  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
    .shopTitle {
      font-size: xxx-large;
      // margin-right: 20px;
      margin-right: auto;
      margin-top: 15px;
      color: gainsboro;

      //google font
      font-family: "Ysabeau Office", sans-serif;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  /* Use a media query to add a breakpoint at 400px: */
  @media screen and (max-width: 400px) {
    .nav-links-container {
      .shopTitle {
        font-size: xx-large;
      }
    }
  }
}
